<form #weatherForm="ngForm" (ngSubmit)="getWeatherData(weatherForm)">
  <input
    name="city"
    ngModel
    type="text"
    placeholder="Enter a city Name"
    required
  />

  <span *ngIf="isLoading">Loading...................</span>

  <br />
  <div
    *ngIf="
      weatherForm.controls['city']?.invalid &&
      (weatherForm.controls['city']?.dirty ||
        weatherForm.controls['city']?.touched)
    "
  >
    <span class="error">City is required</span>
  </div>
  <br />

  <br />
  <button type="submit">Get Weather</button>
</form>

<span *ngIf="ResponseError">Error : {{ ResponseError }}</span>
<div *ngIf="isLoading">Loading...........</div>
<div *ngIf="weatherData?.weather?.length > 0">
  <div>Display the data</div>
</div>
